absl-py==2.1.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
base32hex==1.0.2
beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
chronometry==2020.11.12
click==8.1.7
colouration==2020.7.26
contourpy==1.2.1
cryptography==43.0.0
cssselect2==0.7.0
cycler==0.12.1
decorator==5.1.1
dill==0.3.8
disk==2021.6.29
distro==1.9.0
Django==5.0.6
django-jazzmin==3.0.0
executing==2.0.1
flatbuffers==24.3.25
fonttools==4.53.1
fpdf==1.7.2
func_timeout==4.3.5
fuzzywuzzy==0.18.0
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
google-pasta==0.2.0
grpcio==1.66.0
h5py==3.11.0
html5lib==1.1
idna==3.7
imageio==2.35.1
ipython==8.26.0
isodate==0.6.1
jedi==0.19.1
joblib==1.4.2
keras==3.5.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.0
namex==0.0.8
networkx==3.3
nltk==3.9.1
numpy==1.26.4
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
parso==0.8.4
pdf==2020.11.12
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six==20240706
pdftotree==0.5.0
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.47
protobuf==4.25.4
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pycryptodome==3.20.0
pydyf==0.11.0
Pygments==2.18.0
pyparsing==3.1.2
pyphen==0.16.0
python-dateutil==2.9.0.post0
pytz==2024.1
ravenclaw==2020.11.12
rdflib==7.0.0
regex==2024.7.24
requests==2.32.3
rich==13.7.1
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
selectivesearch==0.4
Send2Trash==1.8.3
setuptools==73.0.1
silverware==2020.11.12
six==1.16.0
sklearn==0.0.post12
slytherin==2020.11.12
soupsieve==2.6
SPARQLWrapper==2.0.0
sqlparse==0.5.1
stack-data==0.6.3
tabula-py==2.9.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.8.10
tinycss2==1.3.0
tqdm==4.66.5
traitlets==5.14.3
txt==2020.11.12
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Wand==0.6.13
wcwidth==0.2.13
weasyprint==62.3
webencodings==0.5.1
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
zopfli==0.2.3
