
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 100%;
    min-height: 100vh;
    display: flex;  
    justify-content: space-between;
    flex-direction: column;
}  

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tugmalarni uslubi */
.main-section_btn {
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.main-section_btn{
    background-color: #00DFA2;
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
    margin: 10px 0;
    width: 100%;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-section_btn:hover {
    color: rgba(0, 0, 0, 0.61);
    background-color: #00DFA2;
}

/* Footer matnini o'rtaga joylashtirish */
footer {
    text-align: center;
    background-color: #1c1c1c;
    line-height: 20px;
    padding-top: 20px;
    color: #ffffff97;
}

/* Brend nomi uchun font uslubi */
.brend-name {
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 24px; /* Adjusted font size for responsiveness */
    line-height: 24px;
    color: #000000;
}

/* Responsiv header */
.header-container {
    display: flex;  
    align-items: center;
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

.header-container .text-center {
    flex: 1;
    text-align: center;
}

.header-container img {
    height: 40px;
}
/* Asosiy kontent bo'limi */
main {
    padding: 0 15px; /* Adding padding for small screens */
}

.main-section {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main-section .btn {
        max-width: 250px; /* Adjust max width for larger screens */
    }


}

@media (min-width: 992px) {
    .main-section .btn {
        max-width: 300px; /* Adjust max width for extra-large screens */
    }   
}

@media (min-width: 1200px) {
    .main-section .btn {
        max-width: 320px; /* Adjust max width for extra-extra-large screens */
    }
}


/* Hide generatsiya text on small screens */
@media (max-width: 576px) {
    .generatsiya {
        display: none;
    }    
    .welcome{
        display: none;
    }
    .start-home{
        flex-direction: column;
        row-gap: 5px;
    }
    .start-home div{
        width: 100%;
    }
}

.bg-green {
    background-color: #00DFA2; 
}




